
body{
    text-align: center;
    align-items: center;
}

.tic{
    height: 200px;
    width: 200px;
    background-color: aqua;
    color: blueviolet;
}

.board{
    display: flex;
    flex-direction: column;
}